---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: rh-agentic-operator
  namespace: NAMESPACE_PLACEHOLDER
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: rh-agentic-operator
  namespace: NAMESPACE_PLACEHOLDER
spec:
  output:
    to:
      kind: ImageStreamTag
      name: 'rh-agentic-operator:latest'
  source:
    type: Binary
    binary: {}
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  triggers:
    - type: ConfigChange



